@import '../node_modules/milligram/src/milligram';

$purple: #9b4dca;
$gray: #9f9f9f;

.avatar {
  border: 1px solid $purple;
  height: 128px;
  margin-top: 25px;
  width: 128px;
}

.label-inline {
  margin-left: 5px;
  margin-right: 30px;
}

section {
  .column {
    margin-bottom: 1.5rem;
  }
}

input {
  margin-bottom: 0;
}

.error {
  color: $purple;
  font-size: .8em;
}

button {
  &:focus {
    background-color: $purple;
  }
}

fieldset[disabled=true] {
  input,
  select,
  label {
    color: $gray;
  }

  img {
    opacity: .5;
  }

  button {
    background-color: $gray;
    border-color: $gray;
  }
}
